<!-- Parse dictionary in Template -->
<!-- https://stackoverflow.com/a/1724201/11121579 -->
<!-- https://docs.djangoproject.com/en/3.0/ref/templates/api/#variables-and-lookups -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main app</title>
</head>

{% if dj_alert.status %}
<script>
    console.log({{dj_alert.msg}});
</script>
<body>
    <h1>City: {{wdata.city}}<br>
        Weather type: {{wdata.weather_description_for_user}}<br>
        Temperature: {{wdata.temperature}}<br>
        Min Temperature: {{wdata.min_temperature}}<br>
        Max Temperature: {{wdata.max_temperature}}<br>
        Sunrise Time: {{wdata.sunrise}}<br>
        Sunset Time: {{wdata.sunset}}<br>
        Cloudiness: {{wdata.cloudiness}}<br>
        Visibility: {{wdata.visibility}}<br>
        Wind Speed: {{wdata.wind_speed}}<br>
        Wind Direction: {{wdata.wind_direction}}<br>
        Updated at: {{wdata.time_of_update_day}} on {{wdata.time_of_update_time}}<br>
    </h1>
</body>
</html>